@import url('/src/theme/colors.css');

:root {
    --aside-width: 300px;
}

* {
    margin: 0;
    font-weight: normal;
    text-decoration: none;
    color: black;
    list-style: none;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    display: grid;
    grid-template-columns: var(--aside-width) 1fr;
    grid-template-rows: auto 1fr auto;
}

aside {
    grid-column: 1;
    grid-row: 1 / 5;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1em;
}

header,
main,
footer {
    grid-column: 2;
}

header {
    grid-row: 1;
    text-align: center;
    margin-block: 1em;
}

main {
    grid-row: 2;
    padding: 1em;
}

footer {
    grid-row: 3;
    text-align: center;
    margin-block: 1em;
}

.color-display {
    display: inline-block;
    height: 1em;
    width: 1em;
    border-radius: 0.25em;
    margin-inline-start: 1em;
}

#basic-colors .content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#basic-colors .content .item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#palette-colors .content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#palette-colors .content .item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
